<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="user-name" value="${user-name}"></parameter>
    <test name="test1">
        <classes>
            <class name="UserTest"></class>
            <class name="AuthTest"></class>
        </classes>

    </test>
</suite>